{% trans_default_domain 'FOSUserBundle' %}
<div class="container" style="max-width:600px;width:100%;margin:0 auto;">
    <div class="hg-wcome-container">
        <div class="hg-wcome-content">
           <h3>Se connecter</h3>
           <h4>
                Connectez-vous sur votre compte Air France pour effectuer des réservations.
           </h4>
        </div>
    </div>
    <div>
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}

            <label for="username">{{ 'security.login.username'|trans }}</label>
            <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />

            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input type="password" class="form-control" id="password" name="_password" required="required" autocomplete="current-password" />

            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            <br>
            <br>
            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-primary" />
        </form>

    </div>
</div>

