{% trans_default_domain 'FOSUserBundle' %}
<div class="container" style="max-width:600px;width:100%;margin:0 auto;">
	<div class="hg-wcome-container">
		<div class="hg-wcome-content">
		   <h3>S'enregistrer</h3>
		   <h4>
		   		Envie de rejoindre Air France et de bénéficier des promotions ? Saisissez les champs ci-dessous pour créer votre compte.
		   </h4>
		</div>
	</div>
	<div>
		{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
		    {{ form_widget(form) }}
		    <div>
		        <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-primary" />
		    </div>
		{{ form_end(form) }}
	</div>
</div>

