{% extends 'base.html.twig' %}
{% block title %}
    Réserver
{% endblock %}

{% block body %}

	<div class="container">
		<h1>Réserver le vol vers {{ flight.airportTo.city }} - {{ flight.airportTo.name }}</h1>

		<div class="row well">
			<div class="col-md-3">
				<ul>
					<li>
						{{ flight.dateFrom|date("H:i") }}
						{{ flight.airportFrom.name }}
					</li>
					<li>
						{{ flight.dateTo|date("H:i") }}
						{{ flight.airportTo.name }}
					</li>
				</ul>
			</div>
			<div class="col-md-3">
				{{ flight.price }}  euros
				
			</div>
		</div>
		{{ form_start(form) }}
		<ul>
		{% for passenger in form.passengers %}
		    <li>
		        {{ form_errors(passenger) }}
		        {{ form_widget(passenger) }}
		    </li>
		{% endfor %}
		</ul>
		{{ form_end(form) }}
	</div>

{% endblock %}