{% extends 'base.html.twig' %}
{% block title %}
    Résultats
{% endblock %}

{% block body %}

	<div class="container">
		<h1>Vos résultats</h1>

		{% for flight in flights %}
			<div class="row well">
				<div class="col-md-3">
					{#{ flight.number }#}
					<ul>
						<li>
							{{ flight.dateFrom|date("H:i") }}
							{{ flight.airportFrom.name }}
						</li>
						<li>
							{{ flight.dateTo|date("H:i") }}
							{{ flight.airportTo.name }}
						</li>
					</ul>
				</div>
				<div class="col-md-3">
					{{ flight.price }}  euros
					
				</div>
				<div class="col-md-3">
					<a href="{{ path("app_flight_booking", {id: flight.id, passengers: app.request.query.get("passengers")}) }}" class="btn btn-primary btn-large">
						Réserver
					</a>
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}