<!DOCTYPE html>
<html lang="fr">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content=" width=device-width, initial-scale=1">
      <title>Billets d'avion, réservation de vols pas chers | Air France</title>
      <!-- Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Poppins:400%2C500%2C700%7COpen+Sans%7CMontserrat:500" rel="stylesheet" property="stylesheet" type="text/css" media="all">
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- CSS assets -->
      <link href="/style/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="/modules/jquery-datepicker/jquery-ui.min.css">
      <!-- LOAD slick slider assets -->
      <script src="/js/src/plugins/jquery-3.2.1.min.js"></script>
      <!-- Main theme stylesheet -->
      <link href="/style/css/template.css" rel="stylesheet" type="text/css">
   </head>
   <body>
      <!-- Navigation Overlay menu start -->
      <div class="sh__navOverlay sh__navOverlay--closed">
         <div class="sh__navOverlay-inner">
            <div class="sh__navOverlay--menuWrapper">
               <div class="sh__navOverlay--menuWrapper-inner">
                  <!--copyright text -->
                  <ul class="sh__navOverlay--mainNav ovr-menu">
                     <li class="ovr-menu__item"><a href="">Accueil</a></li>
                     <li class="ovr-menu__item"><a href="">Mes réservations</a></li>
                     <li class="ovr-menu__item"><a href="">Informations</a></li>
                  </ul>
                  <!--start close buttom -->
                  <a href="" class="button-navOverlay-close">
                     <span></span>
                     <svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
                        <circle fill="transparent" stroke="#656e79" stroke-width="1" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
                     </svg>
                  </a>
                  <!--end-close button -->
               </div>
               <!--/.sh__navOverlay-menuWrapper-inner -->
            </div>
            <!--/.sh__navOverlay-menuWrapper -->
            <!--copyright text -->
            <div class="copyText-wrapper">
               <div class="copyText">
               	AirFrance
               </div>
            </div>
            <!--end copyright text -->
         </div>
         <!--/.sh__navOverlay-inner -->
      </div>
      <!--/.sh__navOverlay -->
      <!-- Navigation Overlay end -->
      {% include '_header.html.twig' %}
      {% block body %}{% endblock %}
      <!-- end page_wrapper -->
      <a href="#" class="totop">HAUT</a> <!--/.totop -->
      <!-- google maps script -->
      <script src="/js/src/plugins/bootstrap.min.js"></script>
      <script src="/modules/slick/slick.min.js"></script>
      <script src="/modules/Magnific-Popup/jquery.magnific-popup.js"></script>
      <script src="/modules/jquery-datepicker/jquery-ui.min.js"></script>
      <!-- Main template script -->
      <script src="/js/src/script.js"></script>
   </body>
</html>